.form-input {
  width: 230px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  color: #0d0d0d;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
}

.input-container {
  display: flex;
  gap: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 35px 0;
}

.meme-button {
  width: 475px;
  padding: 10px 115px;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1.5px;
  border-radius: 5px;
  background: linear-gradient(90deg, #711f8d 1.14%, #a818da 100%);
}

.meme-image {
  width: 475px;
  margin: 0px 37px 55px 38px;
}

.meme-top-text,
.meme-bottom-text {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: "Impact", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px #000;
}

.meme-top-text {
  top: 0;
}

.meme-bottom-text {
  bottom: 55px;
}

.meme {
  position: relative;
}
